body {
  background-color: #e4e4e4;
  padding-top: 150px;
}
.b-login {
  background-color: #ffffff;
  text-align: center;
  padding: 25px;
  border: 1px solid #c6c6c6;
  max-width: 500px;
  margin: 0 auto;
}
.b-login h1 {
  border-bottom: 1px solid #c7c7c7;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
