.ajax-crud-container {
  &.ajax-crud-type-index {
    margin-bottom: 20px;
  }
  &.ajax-crud-type-update {

  }
  &.ajax-crud-type-create {

  }
}

.required > label:after {
  content: " *";
  color: #d60000;
  font-weight: bold;
}

.action-buttons {
  margin-bottom: 5px;
}
