.ajax-crud-container.ajax-crud-type-index {
  margin-bottom: 20px;
}
.required > label:after {
  content: "\00a0*";
  color: #d60000;
  font-weight: bold;
}
.action-buttons {
  margin-bottom: 5px;
}
.action-buttons .btn-group {
  margin-left: 5px;
}
.grid-view .filters input::-moz-placeholder {
  font-size: 0.8em;
}
.grid-view .filters input::-webkit-input-placeholder {
  font-size: 0.8em;
}
.grid-view .filters input:-moz-placeholder {
  font-size: 0.8em;
}
.grid-view .filters input:-ms-input-placeholder {
  font-size: 0.8em;
}
.grid-view-row-total td {
  background: #ffffff;
  font-weight: bold;
  font-style: italic;
}
.grid-view-toggle-cell {
  vertical-align: middle;
}
.label-grid-view {
  font-size: inherit;
  font-weight: inherit;
}
.error-page {
  background-color: #d2d6de;
}
