.b-mainMenu {
  width: 225px;
  height: 100vh;
  float: left;
  background-color: #3b3b3b;
  padding-top: 50px;
}
.b-mainMenu li {
  color: #ffffff;
  padding-left: 0;
}
.b-mainMenu li a {
  padding-left: 15px;
}
.b-mainMenu li.group {
  background-color: #2f2f2f;
  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
}
.b-mainMenu li.group {
  margin-top: 10px;
}
.b-mainMenu li.group:first-child {
  margin-top: 0;
}
.b-mainMenu li.item a {
  color: #e2e2e2;
  padding-top: 7px;
  padding-bottom: 7px;
  padding-left: 20px;
}
.b-mainMenu li.item > a:hover {
  background-color: #000000;
}
